.carouselHome{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.background{
    width: 100%;
    height: 100%;
    display: flex;
}

.backgroundText{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 32vh;
    font-size: 7vw;
    color: white;

}

.photoContainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
}

.photoContainer img{
    width: 100%;
    height: 100%;
}
.carousel{
    width: 100% !important;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100% !important;
}